/* Dev stack css */
.skill_list_section{
    display: flex;
    background-color: #eee8d5;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
}
.skill_list_section .skill_list_category{
    flex: 1;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 200;
    color: #268bd2;
}
.skill_list_section .skill_list{
    flex: 1.68;
}
.skill_list{
    display: flex;
    flex-direction: column;
    font-size: 24px;
    margin: 0;
}
.skill_list li{
    /* display: inline-block; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 80px;
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    border-style                :   solid;
    border-width                :   0.5px;
    border-color                :   #073642;
    border-radius: 10px;

}
.skill_list li p{
    /* text-align: right; */
    flex: 4;
    margin: 0;
}
.lang_icon{
    display: inline-block;
    object-fit: contain;
    height: 1.5em;
    max-width: 100%;
    flex: 1;
}