html{
    height: 100vh;
    width: 100vw;
}
body{
    /* background-color:#f58b5f; */
    background-color: #283747;
    height: 100vh;
    overflow-x: hidden;
    /* overflow-y: hidden; */
    padding: 0px;
    margin: 0px;
}
h1, h3{
    color:#fdf6e3;
    font-family: 'Source Code Pro', monospace;
    overflow: hidden;
    white-space: nowrap;
}
h4{
    /* border: 1px solid black; */
    padding: 20px;
    color:#fdf6e3;
    border-radius: 5px;
    background-color: #283747;
}

#main{
    /* background-color: #283747; */
    top: 0;
    position: relative;
    overflow-y: scroll;
    padding-bottom: 10vh;
    margin: 0;
    height: 100%;
}
#canvas{
    z-index: -1;
    margin: 0;
    padding: 0;
    position: relative;
    bottom: 0;
    /* position: sticky;
    position: -webkit-sticky; /* safari */
    /* top: 0; */ 
    /* width: 100vw;
    height: 100vh; */
}
#canvasDiv{
    z-index: -1;
    top: 0;
    position: sticky;
    /* overflow-y: hidden; */
    /* background-color: red; */
    height: 100%;
}
#header{
    margin-top: -50%;
    padding: 20px;
}

/* CSS Animations */
@keyframes type1{
    0%{
        width:0ch;
    }
    100%{
        width:32.5ch;
        opacity: 100%;
    }
}
@keyframes type2{
    0%{
        width:0ch;
    }
    100%{
        width:10.5ch;
        opacity: 100%;
    }
}
@keyframes appear{
    0%{
        opacity: 0%;
        visibility: visible;
    }
    100%{
        opacity: 100%;
        visibility: visible;
    }
}
@keyframes arrise{
    0%{
        opacity: 0%;
        visibility: visible;
        margin-top: 200%;
        /* z-index: 0; */
    }
    75%{
        margin-top: -2%;
        opacity: 90%;
        visibility: visible;
    }
    90%{
        margin-top: 1.25%;
        opacity: 90%;
        visibility: visible;
    }
    /* 96%{
        margin-top: -1.5%;
        opacity: 100%;
        visibility: visible;
    } */
    100%{
        margin-top: 0%;
        /* z-index: 2; */
        opacity: 100%;
        visibility: visible;
    }
}
@keyframes arriseFixed{
    0%{
        opacity: 0%;
        visibility: visible;
        top: 200%;
        /* z-index: 0; */
    }
    75%{
        top: 13%;
        opacity: 90%;
        visibility: visible;
    }
    90%{
        top: 16.25%;
        opacity: 90%;
        visibility: visible;
    }
    100%{
        top: 15%;
        /* z-index: 0; */
        opacity: 90%;
        visibility: visible;
    }
}

@keyframes bounce {
    0% { transform: scale(1, 1);}
    30% { transform: scale(1.25, 0.75); }
    40% { transform: scale(0.75, 1.25); }
    50% { transform: scale(1.15, 0.85); }
    65% { transform: scale(0.95, 1.05); }
    75% { transform: scale(1.05, 0.95); }
    100% { transform: scale(1, 1);}
}

#title{
    animation: type1 1.5s steps(32) forwards;
    border-right: 4px solid white;
    width: 32ch;
    opacity: 0%;
}
#name{
    animation: type2 0.5s steps(10) 2.75s forwards;
    border-right: 4px solid white;
    width: 10ch;
    opacity: 0%;
}


#github{
    position: fixed;
    top: 2%;
    right: 4.5%;
    visibility: hidden;
    opacity: 0;
    filter: invert(91%) sepia(2%) saturate(2071%) hue-rotate(359deg) brightness(107%) contrast(99%);
}
#linkedIn{
    position: fixed;
    top: 2%;
    right: 1.5%;
    visibility: hidden;
    opacity: 0;
    filter: invert(91%) sepia(2%) saturate(2071%) hue-rotate(359deg) brightness(107%) contrast(99%);
}
#linkedIn:hover, #github:hover{
    animation: bounce 1.5s ease;
    filter: invert(72%) sepia(39%) saturate(2239%) hue-rotate(319deg) brightness(100%) contrast(93%);
}

.col-4, .col-6{
    display: flex;
    justify-content: center;
}

.projectrow{
    opacity: 1;
    width: 97%;
    padding: 0.5%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    /* color:#000000; */
    background-color: 	#839496;
    border-radius: 15px;
}


.projects{
    background-color:#fdf6e3;
    visibility: hidden;
    animation: arrise 5s forwards;
    width:70%;
    /* height:100%; */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10vh;
    border-radius: 5px;
    padding-top: 15px;
    overflow: auto;
}
.links{
    display: flex;
    flex-flow: column;
    margin-left: auto;
    margin-right: auto;
}
.thumbnail{
    width: 100%;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.col-3{
    background-color: #657b83;
    border-radius: 10px;
    overflow: hidden;
}
.col-3:hover{
    background-color: #f58b5f;
}
#bottomtab{
    vertical-align: bottom;
}
#buttonRow{
    margin-bottom: 15px;
}
#content{
    padding: 10px;
    overflow: auto;
    scroll-behavior: smooth;
}

#footer{
    position: relative;
    background-color: #f58b5f;
    /* margin-top: 15vh; */
    width: 100vw;
    height: 80px;
    z-index: 0;
}
.footer-row{
    height: 100%;
}
.footer-text{
    margin: auto;
    color: #657b83;
    text-align: center;
}

