body, html{
    background-color:#283747;
    height: 100%;

}
h1, h3{
    /* font-family: 'Roboto Slab'; */
    color:#fdf6e3;
}
.row{
    width: 60%;
    padding: 0.5%;
    padding-left: 1%;
    color:#000000;
    background-color: 	#839496;
    border-radius: 15px;
}
.header, .projects{
    margin: 20px
}
.footer{
    text-align: center;
}
.projects{
    background-color:#fdf6e3;
    border-radius: 5px;
    padding-left: 15px;
    padding-top: 10px;
    height: 75%;
}
.links{
    display: flex;
    flex-flow: column;
    margin-left: 40px;
}
.thumbnail{
    height: 120px;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.col-3{
    background-color: #657b83;
    border-radius: 10px;
}
.col-3:hover{
    background-color: #f58b5f;
}
#bottomtab{
    vertical-align: bottom;
}


