body{
    background-color: #30475e;
    height: 100%;

}
h1, h3, p{
    font-family: 'Roboto Slab';
    color:#ececec;
}
.header, .projects{
    margin: 20px
}
.projects{
    display: flex;
    flex-flow: column;
    background-color:#283747;
    border-radius: 5px;
    padding: 15px;
    height: 100%;
}